.about-window {
  display: flex;
  flex-direction: column;
  font-family: 'mezalia-regular';
  max-width: 850px;
  height: calc(80vh - 4rem);
  background: #fff9ef;
  overflow-y: auto;
}

.about-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
  background: #fff9ef;
}

.about-flex-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.about-header-columns {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.about-avatar {
  width: 250px;
  object-fit: cover;
  margin-right: 30px;
}

.about-name {
  font-size: 1.9rem;
  margin: 0;
  color: #32084b;
}

.about-titles{
  color:#32084b;
}

.about-subtitle {
  margin-top: 0.25rem;
  color: #555;
}

.about-content {
  padding: 1.5rem;
  font-size: 18px;
}

.about-content h2 {
  color: #32084b;
}

.about-content li {
  margin: 8px;
}

.link {
  color: #32084b;
  text-decoration: underline;
}

.quote {
  border-left: 4px solid #32084b;
  padding: 0.8rem 1rem;
  margin: 1rem 0;
  color: #333;
}

.quote p {
  margin: 0;
}

.about-separator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: #fff9ef;
}

.about-separator .line {
  flex: 1;
  height: 1px;
  background: #32084b;
  opacity: 0.6;
}

.separator-icon {
  width: 35px; 
  height: auto;
  image-rendering: pixelated;
}

ul {
  list-style: none;

}

li::before {
  content: "⚔";
  color: #32084b;
  margin-right: 8px;
}