.desktop {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('https://images.wallpapersden.com/image/download/stargazing-hd-pixel-art_bWdqbGuUmZqaraWkpJRmbmdlrWZlbWU.jpg');
    background-size: cover;
}