.desktop {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('src/assets/images/castlewall.png');
    background-size: cover;
}

.boot-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

.boot-screen.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.terminal-loader p {
    margin: 5px 0;
}

.loader-icon {
    width: 300px;
}