.links-section {
    text-align: center;
    background: #fff9ef;
}

.links-section h2{
    margin: 0;
    padding-top: 20px;
}

.icon-map {
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icons-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#icon-size {
    width: 40px;
}