.nav {
    font-size: 1.5rem;
    background: transparent;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    width: 100%;
    padding: 2.5rem 3.6rem;
    box-sizing: border-box;
  }

  .nav-center {
    font-family: monospace;
    font-size: 1.3rem;
    filter: invert();
    opacity: 0.9;
  }

  .icons {
    width: 24px;
    height: 24px;
    padding: 0.25rem 0.5rem;
    line-height: 1;
    transition: opacity 0.2s ease;
    background: transparent;
    border: none;
    cursor: pointer;
    filter: invert();
  }
  
  
  .icons:hover {
    opacity: 0.8;
  }
  
  