.shortcut {
    width: 70px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    position: absolute;
    user-select: none;
    cursor: pointer;
}

.shortcut img {
    width: 58px;
    image-rendering: pixelated;
    pointer-events: none;
}

.shortcut span {
    display: block;
    margin-top: 4px;
    font-size: 12px;
    color: white;
    text-shadow: 1px 1px 0 black;
}