---
import "../styles/navbar.css";
---

<nav class="nav">
    <div>
      <img class="icons" src="https://unpkg.com/pixelarticons@1.8.1/svg/sort-alphabetic.svg" />
      <img class="icons" src="https://unpkg.com/pixelarticons@1.8.1/svg/moon-star.svg"  />
      <img class="icons" src="https://unpkg.com/pixelarticons@1.8.1/svg/volume-2.svg"  />
    </div>
    <div id="date" class="nav-center"></div>
    <img class="icons" src="https://unpkg.com/pixelarticons@1.8.1/svg/hidden.svg"  />
  </nav>

  <script>
    function refreshTimeDate() {
      const now = new Date();
      const dateEl = document.getElementById("date");
  
      dateEl!.textContent = now.toLocaleString("es-AR", {
        day: "2-digit",
        month: "2-digit",
        year: "numeric",
        hour: "2-digit",
        minute: "2-digit"
      });
    }
  
    refreshTimeDate();
    setInterval(refreshTimeDate, 1000);
  </script>